/*
Error: Invalid CSS after "body": expected selector or at-rule, was "{"
        on line 2 of main.scss

1: $primary-color: #369
2: body{
3: 	background-color: $primary-color;
4: 	font-family: Futura,"Trebuchet MS",sans-serif;
5: 	> h1 {
6: 	font-size: 3em;
7: 	color: #eee;

Backtrace:
main.scss:2
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:40:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:414:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"body\": expected selector or at-rule, was \"{\"\A         on line 2 of main.scss\A \A 1: $primary-color: #369\A 2: body{\A 3: 	background-color: $primary-color;\A 4: 	font-family: Futura,\"Trebuchet MS\",sans-serif;\A 5: 	> h1 {\A 6: 	font-size: 3em;\A 7: 	color: #eee;"; }
